{% extends 'consciousApp/index.html' %} {% load static %} {% block body_block%}
<link rel="stylesheet" type="text/css" href={% static 'consciousApp/css/home.css' %}>

<div class="home-sec">
  <div class="card-area">
    <div class="card">
        <!-- <a href="{% url 'braille' %}"><img src="{% static 'consciousApp/images/brpage.png' %}"></a> -->
        <iframe width='100%' height='100%' src="https://www.youtube.com/embed/0UxPH3suLbg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card">
        <a href="{% url 'triggers' %}"><img src="{% static 'consciousApp/images/triggers.png' %}"></a>
    </div>
  </div>
  <div class="card-area">
    <div class="card">
        <a href="{% url 'ocr' %}"><img src="{% static 'consciousApp/images/ocr.png' %}"></a>    
    </div>
    <div class="card">
        <a href="{% url 'opendyslexic' %}"><img src="{% static 'consciousApp/images/dyspage.png' %}"></a>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="{% static 'consciousApp/js/main.js' %}"
></script>
{% endblock %}
