{% extends 'consciousApp/index.html' %} {% load static %} {% block body_block%}
<link rel="stylesheet" type="text/css" href={% static 'consciousApp/css/home.css' %}>

<div class="home-sec">
  <div class="card-area">
    <div class="card">
        <a href="{% url 'braille' %}"><img src="{% static 'consciousApp/images/brpage.png' %}"></a>
    </div>
    <div class="card">
        <a href="{% url 'triggers' %}"><img src=""></a>
    </div>
  </div>
  <div class="card-area">
    <div class="card">
        <a href="{% url 'ocr' %}"><img src="{% static 'consciousApp/images/ocr.png' %}"></a>    
    </div>
    <div class="card">
        <a href="{% url 'opendyslexic' %}"><img src="{% static 'consciousApp/images/dyspage.png' %}"></a>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="{% static 'consciousApp/js/main.js' %}"
></script>
{% endblock %}
