{% extends 'consciousApp/index.html' %} {% load static %} {% block body_block%}
<meta charset="UTF-8">
<title>Trigger Warnings</title>
<div class="container">
  <div class="row">
    <div class="col">
      <!--{{ text }}-->
        <form>
            <div class="form-group">
             <label for="exampleFormControlTextarea1">Paste the text to be searched here:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{% if text %} {{text}} {% endif %}</textarea>
                </div>
            <button type="button" class="btn btn-default" id="btn">Check!</button>
        </form>
    </div>
    <div class="col">
        <div class="row">
      Trigger warnings found:</div>
        <div class="row" id="trigPanel"></div>
    </div>
  </div>
</div>
<script>
        document.getElementById('btn').onclick = function() {
            document.getElementById('trigPanel').innerHTML = 'a warning';
        }
</script>
{% endblock %}
