<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trigger Warnings</title>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
  <div class="row">
    <div class="col">
      <!--{{ text }}-->
        <form>
            <div class="form-group">
             <label for="exampleFormControlTextarea1">Paste the text to be searched here:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">sample text comes here</textarea>
                </div>
            <button type="button" class="btn btn-default" id="btn">Check!</button>
        </form>
    </div>
    <div class="col">
        <div class="row">
      Trigger warnings found:</div>
        <div class="row" id="trigPanel"></div>
    </div>
  </div>
</div>
<script>
        document.getElementById('btn').onclick = function() {
            document.getElementById('trigPanel').innerHTML = 'a warning';
        }
    </script>
</body>
</html>